profiles{
    standard{
        process.container = 'nextflow/rnaseq-nf'
        docker.runOptions='-u $(id -u):$(id -g)'
        docker.enabled = true
    }
    
    batch {
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/usr/local/bin/aws'
        aws.batch.executionRole = 'arn:aws:iam::973116293246:role/BatchEcsTaskExecutionRole'
        process {
            executor = 'awsbatch'
            queue = 'nextflow-queue'
            container = 'nextflow/rnaseq-nf'            
        }
    }
}
